.progress {
  position: relative;
  height: 20px;
  width: 100%;
  border-radius: 999px;
  margin: 10px 0;
}

:global(.light) .progress {
  background-color: var(--color-gray-200);
}

:global(.dark) .progress {
  background-color: var(--color-gray-800);
}

.progressInner {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 999px;
  background: var(--color-accent-gradient);
  transition: width 0.5s ease-in-out;
}

.progressText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-50);
  font-size: 0.75rem;
  font-weight: 500;
}
