.heroContent {
  margin: 0 auto;
  width: 100%;
  max-width: 60rem;
  padding: 0 1rem 1rem;
  box-sizing: border-box;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-gray-50);
}

.description {
  text-align: center;
  color: var(--color-gray-50);
  white-space: pre-line;
}

.container {
  --size-article-horizontal-padding: 1rem;
  display: flex;
  width: calc(100% - var(--size-article-horizontal-padding) * 2);
  max-width: var(--size-content-max-width);
  margin: 1rem auto;
  padding: 0 var(--size-article-horizontal-padding);
  gap: var(--size-aside-gap);
}
