.heroContent {
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;
  max-width: var(--bp-pc);
  padding: 2rem;
  padding-top: 0;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .heroContent {
    display: none;
  }
}

.heroIcon {
  border-radius: 0.5rem;
}

.heroMessage {
  white-space: pre-wrap;
  font-size: 1rem;
  color: var(--color-gray-100);
  line-height: 2;
  margin: 0;
}

.container {
  margin: 1rem auto;
  width: 100%;
  padding: 0 1rem;
  max-width: var(--size-content-max-width);
  box-sizing: border-box;
}

.moreLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  text-decoration: none;
  margin: 0.5rem auto;
}

@media (hover: hover) {
  :global(.light) .moreLink:hover {
    background-color: var(--color-gray-200);
  }

  :global(.dark) .moreLink:hover {
    background-color: var(--color-gray-900);
  }
}

:global(.light) .moreLink {
  color: var(--color-gray-600);
}

:global(.dark) .moreLink {
  color: var(--color-gray-100);
}
