.top {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--size-header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-header);
}

.header svg {
  height: calc(var(--size-header-height) * 0.5);
}

.stickyHeader {
  --sticky-header-horizontal-padding: 2rem;
  --sticky-header-min-horizontal-margin: 1rem;
  position: fixed;
  background: var(--color-accent-gradient);
  margin: var(--size-sticky-header-vertical-margin) auto;
  left: 0;
  right: 0;
  width: calc(
    100% - var(--sticky-header-min-horizontal-margin) * 2 -
      var(--sticky-header-horizontal-padding) * 2
  );
  max-width: var(--size-content-max-width);
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  padding: 0 var(--sticky-header-horizontal-padding);
  z-index: var(--z-index-header);
  height: var(--size-sticky-header-height);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.stickyHeaderVisible {
  opacity: 1;
  visibility: visible;
}

.stickyHeaderBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--size-header-height) * 0.5);

  background-image: url("/images/noize.webp");
  background-repeat: repeat;
  opacity: 0.1;
  z-index: -1;
}

:global(.dark) .stickyHeaderBg {
  filter: brightness(0.5);
}

.stickyHeader svg {
  height: calc(var(--size-sticky-header-height) * 0.5);
  width: auto;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--color-gray-50);
  width: fit-content;

  /* overflow dot with 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .title {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .stickyHeader svg {
    height: calc(var(--size-sticky-header-height) * 0.375);
  }
}
