.top {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--size-header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-header);
}

.header svg {
  height: calc(var(--size-header-height) * 0.5);
}

.stickyHeader {
  --sticky-header-vertical-padding: 2rem;
  --sticky-header-min-vertical-margin: 1rem;
  position: fixed;
  background: var(--color-accent-gradient);
  margin: 1rem auto;
  left: 0;
  right: 0;
  width: calc(100% - var(--sticky-header-min-vertical-margin) * 2 - var(--sticky-header-vertical-padding) * 2);
  max-width: var(--size-content-max-width);
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  padding: 0 var(--sticky-header-vertical-padding);
  z-index: var(--z-index-header);
  height: calc(var(--size-header-height) * 0.5);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.stickyHeaderVisible {
  opacity: 1;
}

.stickyHeaderBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--size-header-height) * 0.5);

  background-image: url("/images/noize.webp");
  background-repeat: repeat;
  opacity: 0.1;
  z-index: -1;
}

:global(.dark) .stickyHeaderBg {
  filter: brightness(0.5);
}

.stickyHeader svg {
  height: calc(var(--size-header-height) * 0.25);
  width: auto;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-gray-50);
}
