.container {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    padding: 1rem var(--size-article-horizontal-padding);
    margin: 1rem auto;
    height : 100%;
    width: calc(100% - var(--size-article-horizontal-padding) * 2);
    max-width: var(--size-content-max-width);
    gap: var(--size-aside-gap);
}
.card {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    width: stretch;
}

.next {
    display: flex;
    grid-column: 2;
    margin-left: 2rem; 
    margin-right: 1rem;
}

.prev {
    display: flex;
    grid-column: 1;
    margin-right: 2rem;
    margin-left: 1rem;
}
@media screen and (max-width: 768px) {

    .next {
        margin-left: 0;
        margin-right: 0.5rem;
    }
    .prev {
        margin-left: 0.5rem;
        margin-right: 0;
    }
}




@media (hover: hover) {
    .card:hover {
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        transform: translateY(-0.125rem);
    }
}

:global(.light) .card {
    background-color: var(--color-gray-50);
}

:global(.dark) .card {
    background-color: var(--color-gray-700);
}

.cardLink {
    display: block;
    padding: 1rem;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTitle {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

:global(.light) .cardTitle {
    color: var(--color-gray-600);
}

:global(.dark) .cardTitle {
    color: var(--color-gray-100);
}

.cardDate {
    font-size: 0.75rem;
}

:global(.light) .cardDate {
    color: var(--color-gray-500);
}

:global(.dark) .cardDate {
    color: var(--color-gray-300);
}

.cardDescription {
    font-size: 1rem;
    margin: 0;
    margin-top: 1rem;
}

:global(.light) .cardDescription {
    color: var(--color-gray-600);
}

:global(.dark) .cardDescription {
    color: var(--color-gray-100);
}

